.pokemonContainer{
    display: flex;
    justify-content: space-around;
    padding: 5rem 3rem;
    background-color: rgba(0, 0, 0, .75);
    width: 70%;
    color: #13D19F;
}

.pokemonTitle{
    font-size: 2.5vw;
}
.pokemonImg{
    width: 10vw;
}

.typeContainer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.type{
    font-size: 1.3rem;
    padding: .5vw 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: black;
    min-width: 110px;
}

.type:hover{
    fill: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
}

.bug {
    background: #92BC2C;
    box-shadow: 0 0 20px #92BC2C;
}

.dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
}

.dragon {
    background: #0C69C8;
    box-shadow: 0 0 20px #0C69C8;
}

.electric {
    background: #F2D94E;
    box-shadow: 0 0 20px #F2D94E;
}

.fire {
    background: #FBA54C;
    box-shadow: 0 0 20px #FBA54C;
}

.fairy {
    background: #EE90E6;
    box-shadow: 0 0 20px #EE90E6;
}

.fighting {
    background: #D3425F;
    box-shadow: 0 0 20px #D3425F;
}

.flying {
    background: #A1BBEC;
    box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
    background: #5F6DBC;
    box-shadow: 0 0 20px #5F6DBC;
}

.grass {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
}

.ground {
    background: #DA7C4D;
    box-shadow: 0 0 20px #DA7C4D;
}

.ice {
    background: #75D0C1;
    box-shadow: 0 0 20px #75D0C1;
}

.normal {
    background: #A0A29F;
    box-shadow: 0 0 20px #A0A29F;
}

.poison {
    background: #B763CF;
    box-shadow: 0 0 20px #B763CF;
}

.psychic {
    background: #FA8581;
    box-shadow: 0 0 20px #FA8581;
}

.rock {
    background: #C9BB8A;
    box-shadow: 0 0 20px #C9BB8A;
}

.steel {
    background: #5695A3;
    box-shadow: 0 0 20px #5695A3;
}

.water {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}

.rightPokemonContainer{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.baseStatsContainer li{
    font-size: 1.5vw;
}



@media screen and (max-width: 1220px) {
    .pokemonContainer{
        flex-direction: column;
        gap: 2rem;
    }
    .pokemonImg{
        width: 15vw;
    }
    .type{
        width: 25%;
    }
}

@media screen and (max-width:768px) {
    .pokemonTitle{
        font-size: 1.75rem;
    }
    .baseStatsContainer li{
        font-size: 1rem;
    }
    .pokemonImg{
        width: 8rem;
    }
}

@media screen and (max-width:520px) {
    audio{
        max-width: 180px;
    }
    .typeContainer{
        flex-direction: column;
    }
}

@media screen and (max-width:340px) {
    audio{
        width: 150px;
    }
}